.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem; 
  padding: 0 2rem; 
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 2rem; 
}

.db-card-container {
  display: flex; 
  justify-content: flex-start;
  gap: 1rem; 
  width: 100%;
  overflow-x: auto; 
}

.db-card {
  background-color: #6b46c1; 
  color: white;
  padding: 1rem; 
  border-radius: 0.375rem; 
  width: 12rem; 
  height: 12rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.db-card:hover {
  transform: scale(1.05); 
}
