* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.Header {
  background-color: #1e40af;
  padding: 1rem 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  /* max-width: 1200px; */
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.link {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

.link:hover {
  color: #e5e7eb;
}
